.article-header-single {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.article-header-single,
.article-text-single h2 {
  text-align: center;
  font-size: clamp(2rem, 0.7rem + 1.5vw, 3rem);
}

/* .article-text-single p:not(:first-child) {
  text-indent: 1rem;
} */

.article-text-single h2 {
  margin: 1rem 0 1.5rem;
}

.article-image-single {
  float: left;
  padding-right: 1rem;
  object-fit: cover;
}

@media (max-width: 500px) {
  .article-image-single {
    margin-bottom: 1rem;
  }

  .article-text-single p {
    text-align: justify;
  }
}

.article-hr {
  width: 90%;
  margin-inline: auto;
  margin-bottom: 1rem;
  opacity: 0.5;
}

.article-footer-single {
  font-weight: bold;
}
