.main-grid {
  position: relative;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 25rem;
  gap: 2rem;
}

@media (max-width: 1240px) {
  .main-grid {
    grid-template-columns: 60% calc(40% - 2rem);
  }
}

@media (max-width: 1024px) {
  .main-grid {
    grid-template-columns: 1fr;
  }
}

.section-title,
.aside-title {
  margin-bottom: 0.5rem;
  font-size: clamp(2rem, 0.7rem + 1.1vw, 2rem);
  font-family: var(--swanky-font);
}

.aside-title {
  text-align: right;
}

.section-title::after {
  content: "";
  display: inline-block;
  width: 140px;
  height: 3px;
  margin-left: 10px;
  vertical-align: middle;
  background: url("../../assets/icons/line.png") no-repeat center center;
}

.main-grid img,
.aside-image {
  width: 100%;
  height: 100%;
}

.sub-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 3rem;
}

@media (max-width: 1240px) {
  .sub-grid {
    grid-template-columns: 1fr;
  }
}

.aside {
  position: sticky;
  top: 0;
  height: fit-content;
}

.aside::after {
  content: "Polska !";
  text-align: center;
  position: absolute;
  right: -0.5rem;
  top: 17rem;
  width: 6rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-family: var(--swanky-font);
  font-size: 2rem;
  color: var(--white);
  background-color: var(--accent-clr);
  box-shadow: 2px 2px 1px var(--primary-clr);
}

@media (max-width: 1024px) {
  .aside::after {
    display: none;
  }
}

