.main-grid {
  position: relative;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 25rem;
  gap: 2rem;
}

@media (max-width: 1240px) {
  .main-grid {
    grid-template-columns: 60% calc(40% - 2rem);
  }
}

@media (max-width: 1024px) {
  .main-grid {
    grid-template-columns: 1fr;
  }
}

.section-title,
.aside-title {
  margin-bottom: 0.5rem;
  font-size: clamp(2rem, 0.7rem + 1.1vw, 2rem);
  font-family: var(--swanky-font);
}

.aside-title {
  text-align: right;
}

.section-title::after {
  content: "";
  display: inline-block;
  width: 140px;
  height: 3px;
  margin-left: 10px;
  vertical-align: middle;
  background: url("../../assets/icons/line.png") no-repeat center center;
}

.main-grid img,
.aside-image {
  width: 100%;
  height: 100%;
}

.sub-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 3rem;
}

@media (max-width: 1240px) {
  .sub-grid {
    grid-template-columns: 1fr;
  }
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.article:hover {
  transform: translateY(-3px);
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: transform 0.2s ease-in-out;
}

.article-image {
  position: relative;
  height: 100%;
}

.article-image img {
  object-fit: cover;
}

.article-image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background-color: var(--accent-clr);
}

.article-info {
  position: absolute;
  bottom: 0;
  right: 1rem;
  color: var(--white);
  background-color: var(--accent-clr);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.article-info datetime {
  font-size: 0.9rem;
  background-color: var(--white);
  color: var(--primary-clr);
}

.article-info datetime,
.article-info small {
  padding: 0.2rem;
  font-weight: bold;
}

.article-header,
.article-footer,
.article-text {
  padding: 1rem;
}

.article-footer p {
  font-weight: bold;
  position: relative;
  margin-top: 1rem;
}

.article-footer p::after {
  content: "\2192";
  position: absolute;
  bottom: -0.5rem;
  color: var(--secondary-clr);
  font-size: 2rem;
  margin-left: 0.5rem;
}

.article-header h3 {
  margin-top: 0.5rem;
  font-size: clamp(2rem, 0.7rem + 1.8vw, 3rem);
}

.aside {
  position: sticky;
  top: 0;
  height: fit-content;
}

.aside::after {
  content: "Polska !";
  text-align: center;
  position: absolute;
  right: -0.5rem;
  top: 17rem;
  width: 6rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-family: var(--swanky-font);
  font-size: 2rem;
  color: var(--white);
  background-color: var(--accent-clr);
  box-shadow: 2px 2px 1px var(--primary-clr);
}

@media (max-width: 1024px) {
  .aside::after {
    display: none;
  }
}

.aside h3,
.aside h4 {
  text-align: center;
  font-size: clamp(2rem, 0.7rem + 1.5vw, 3rem);
  margin-bottom: 0.5rem;
}

.aside h4 {
  position: relative;
}

.aside-form .separator {
  width: fit-content;
  margin: 0 auto 1rem;
}

.aside-info {
  padding: 0.5rem;
  text-align: justify;
}

.subscribe-label {
  position: relative;
}

.subscribe-input {
  width: 90%;
  display: block;
  margin-inline: auto;
  padding: 0.5rem 1rem;
  box-shadow: 1px 1px 1px var(--accent-clr);
}

.subscribe-icon {
  position: absolute;
  bottom: 0.5rem;
  right: 2rem;
  opacity: 0.3;
  transition: opacity 0.1s ease-in-out;
}

.subscribe-input:focus + .subscribe-icon {
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
  fill: var(--accent-clr);
}

.subscribe-form button {
  margin-top: 1rem;
  display: block;
  margin-inline: auto;
}
