---
import { getEntries } from "src/lib/contentful";
import AboutCard from "../about-card/AboutCard.astro";
import Article from "../article/Article.astro";
import SubscriptionForm from "../subscription-form/SubscriptionForm.astro";
import ThreeLineSeparator from "../three-line-separator/ThreeLineSeparator.astro";
import "./main-grid.css";
import type { NewsPosts } from "src/lib/content-types/TypeNews";

const { lang } = Astro.props;

const entries = await getEntries<NewsPosts>("news", lang);
const [firstPost, ...restPosts] = entries.items.map((entry) => entry.fields);
---

<section id="maincontent" class="main-grid">
  <ol class="main-grid-item">
    <li>
      <h2 class="section-title">Latest news</h2>
      <Article article={firstPost} />
    </li>
    <ol class="sub-grid">
      {restPosts.map((article) => <Article article={article} />)}
    </ol>
  </ol>
  <aside class="aside">
    <AboutCard />
    <ThreeLineSeparator />
    <SubscriptionForm />
  </aside>
</section>
<a href={`/${lang}/news/`} class="read-more">See all posts</a>
