---
import { Image } from "astro:assets";
---

<Fragment>
  <h2 class="aside-title">About Ludek</h2>
  <Image
    class="aside-image"
    src="https://scontent-lhr8-2.xx.fbcdn.net/v/t1.6435-9/31953515_172989140071109_5947246630724960256_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=cf85f3&_nc_ohc=Mp3Rsit1OiYQ7kNvgEDy3tQ&_nc_ht=scontent-lhr8-2.xx&cb_e2o_trans=t&oh=00_AYAprwXhSPbZoZaBC76X6yJBUNbWBo9vC9dDMeqsF8V8yQ&oe=6702280D"
    alt="ludek"
    width="600"
    height="400"
  />
  <div class="aside-info">
    <h3>Hi, We're Ludek</h3>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error animi eum laudantium
      explicabo officia nostrum recusandae fuga. Aliquam, ab sunt.
    </p>
    <br/>
    <a class="read-more" href="/about">Read more</a>
  </div>
</Fragment>
