---
import "./main-nav.css";
import { getEntry } from 'astro:content';

const { lang } = Astro.props;

const navContent = await getEntry('nav', lang);
const links = navContent?.data || {};

---

<nav class="main-nav">
  <ul class="main-ul">
    {Object.entries(links).map(([key, value], index) => (
      <li class="main-li">
        <a 
          class={`underline-link ${index === 0 ? 'active-link' : ''}`} 
          href={key}
        >
          {value}
        </a>
      </li>
    ))}
  </ul>
</nav>