---
import "./main-nav.css";
---

<nav class="main-nav">
  <ul class="main-ul">
    <li class="main-li"><a class="underline-link active-link" href="#">News</a></li>
    <li class="main-li">
      <a class="underline-link" href="#">Journal</a>
    </li>
    <li class="main-li">
      <a class="underline-link" href="#">Blog</a>
    </li>
    <li class="main-li">
      <a class="underline-link" href="#">Events</a>
    </li>
    <li class="main-li">
      <a class="underline-link" href="#">Contact</a>
    </li>
  </ul>
</nav>
