---
import "./main-nav.css";
---

<nav class="main-nav">
  <ul class="main-ul">
    <li class="main-li"><a class="active-link" href="#">News</a></li>
    <li class="main-li">
      <a href="#">Journal</a>
    </li>
    <li class="main-li">
      <a href="#">Blog</a>
    </li>
    <li class="main-li">
      <a href="#">Contact</a>
    </li>
  </ul>
</nav>
