---
import fbIcon from "../../assets/icons/fb-icon.svg?raw";
import SearchIcon from "../search-icon/SearchIcon.astro";
import SettingsIcon from "../settings-icon/SettingsIcon.astro";
import "./header.css";
---

<header aria-label="Quick links" class="header">
  <nav class="header-nav">
    <ul class="header-ul">
      <li><SearchIcon /></li>

      <li>
        <a href="#" class="header-link" target="_blank" rel="noopener noreferrer">
          <Fragment set:html={fbIcon} />
        </a>
      </li>
      <!-- <li><SettingsIcon /></li> -->
    </ul>
    <select>
      <option>Polish</option>
      <option>English</option>
    </select>
  </nav>
</header>
