---
import { getLanguageFromUrl } from "@/utils/helpers";
import fbIcon from "../../assets/icons/fb-icon.svg?raw";
import LanguageSelector from "../language-selector/LanguageSelector.astro";
import SearchIcon from "../search-icon/SearchIcon.astro";
import "./header.css";

const currentLanguageFromUrl = getLanguageFromUrl(Astro.url.pathname);
---

<header aria-label="Quick links" class="header">
  <nav class="header-nav">
    <ul class="header-ul">
      <li><SearchIcon /></li>

      <li>
        <a href="#" class="header-link" target="_blank" rel="noopener noreferrer">
          <Fragment set:html={fbIcon} />
        </a>
      </li>
      <li>
        <a href="#" class="header-link" target="_blank" rel="noopener noreferrer">
          <Fragment set:html={fbIcon} />
        </a>
      </li>
      <li>
        <a href="#" class="header-link" target="_blank" rel="noopener noreferrer">
          <Fragment set:html={fbIcon} />
        </a>
      </li>
    </ul>
    <LanguageSelector lang={currentLanguageFromUrl} />
  </nav>
</header>
