---
import { Image } from "astro:assets";
import "./partners.css";
---

<h4 class="section-title">Our partners</h4>
<section id="logos-572">
  <div class="cs-container">
    <Image
      class="cs-logo"
      src="https://api-ninjas-data.s3.us-west-2.amazonaws.com/logos/l11f3242118ff2add5d117cbf216f29ac578f6ba6.png"
      alt="logo"
      width="287"
      height="65"
    />
    <Image
      class="cs-logo"
      src="https://api-ninjas-data.s3.us-west-2.amazonaws.com/logos/l11f3242118ff2add5d117cbf216f29ac578f6ba6.png"
      alt="logo"
      width="229"
      height="55"
    />
    <Image
      class="cs-logo"
      src="https://api-ninjas-data.s3.us-west-2.amazonaws.com/logos/l11f3242118ff2add5d117cbf216f29ac578f6ba6.png"
      alt="logo"
      width="235"
      height="53"
    />
    <Image
      class="cs-logo"
      src="https://api-ninjas-data.s3.us-west-2.amazonaws.com/logos/l11f3242118ff2add5d117cbf216f29ac578f6ba6.png"
      alt="logo"
      width="228"
      height="61"
    />
  </div>
</section>
