---
import { Image } from "astro:assets";
import "./page-title.css";

const { title } = Astro.props;
---

<div class="page-title">
  <!-- <Fragment set:html={getIcon(icon)} /> -->
  <Image
    class="logo"
    src="/src/assets/icons/ludek.png"
    alt="Ludek logo - a cartoon human walking"
    width={90}
    height={90}
  />
  <h1 class="title-heading">{title}</h1>
  <!-- <div class="ribbon"></div> -->
</div>
