@media only screen and (min-width: 0rem) {
  #cs-footer-1761 {
    padding: var(--sectionPadding);
    padding-bottom: clamp(1.875rem, 5vw, 3.125rem);
    position: relative;
    /* background-color: var(--primary-clr);
    color: var(--white); */
  }
  #cs-footer-1761 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 4.25rem;
  }
  #cs-footer-1761 .cs-logo-group {
    width: 100%;
    margin: 0 0 clamp(2.5rem, 7vw, 3.75rem);
    position: relative;
  }
  #cs-footer-1761 .cs-logomark {
    width: auto;
    height: 6.25rem;
    opacity: 0.12;
  }
  #cs-footer-1761 .cs-title {
    font-size: clamp(1.9375rem, 7vw, 3.0625rem);
    max-width: 23ch;
    margin: 3rem 0 0.5rem;
  }
  #cs-footer-1761 .cs-outline {
    font-size: clamp(1.9375rem, 1vw, 2.4375rem);
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1.2em;
  }
  #cs-footer-1761 .cs-header {
    font-size: 1.5625rem;
    font-weight: 700;
    line-height: 1.5em;
    margin: 0 0 1rem 0;
    display: block;
    position: relative;
  }
  #cs-footer-1761 .cs-logo {
    width: 13.5625rem;
    height: auto;
  }
  #cs-footer-1761 .cs-text {
    max-width: 25.75rem;
    margin: 1rem 0 0;
  }
  #cs-footer-1761 .cs-ul-wrapper {
    margin: 0 0 3.75rem;
  }
  #cs-footer-1761 .cs-ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  #cs-footer-1761 .cs-ul-contact {
    margin: clamp(2rem, 5vw, 2.5rem) 0 0;
    gap: 2rem;
  }
  #cs-footer-1761 .cs-li {
    list-style: none;
  }
  #cs-footer-1761 .cs-contact {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    text-decoration: none;
  }
  #cs-footer-1761 .cs-link {
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-align: left;
    text-decoration: none;
    display: inline-flex;
    align-items: flex-start;
    gap: 0.5rem;
    transition: color 0.3s;
  }
  #cs-footer-1761 .cs-link:hover {
    color: var(--accent-clr);
  }
  #cs-footer-1761 .cs-bottom {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding-top: clamp(1.75rem, 3vw, 2.5rem);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.75rem;
  }
  #cs-footer-1761 .cs-credit,
  #cs-footer-1761 .cs-bottom-link,
  #cs-footer-1761 .cs-credit-link {
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-decoration: none;
    width: auto;
    margin: 0;
    display: inline-block;
    position: relative;
    transition: color 0.3s;
  }
  #cs-footer-1761 .cs-credit-link {
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-decoration: none;
    width: auto;
    margin: 0;
    color: inherit;
    display: inline-block;
    position: relative;
  }
  #cs-footer-1761 .cs-credit-link:hover {
    color: var(--primary-clr);
  }
  #cs-footer-1761 .cs-bottom-links {
    display: flex;
  }
  #cs-footer-1761 .cs-bottom-link {
    display: flex;
    align-items: center;
  }
  #cs-footer-1761 .cs-bottom-link:hover {
    color: var(--primary-clr);
  }
  #cs-footer-1761 .cs-bottom-link:last-of-type:before {
    content: "";
    width: 1px;
    height: 0.875rem;
    margin: 0 0.75rem;
    background: currentColor;
    opacity: 1;
    display: block;
  }
}

@media only screen and (min-width: 64rem) {
  #cs-footer-1761 .cs-container {
    justify-content: flex-end;
  }
  #cs-footer-1761 .cs-logo-group {
    width: fit-content;
    margin: 0;
    margin-right: auto;
  }
  #cs-footer-1761 .cs-ul-wrapper {
    margin: 0;
  }
  #cs-footer-1761 .cs-bottom {
    margin-top: clamp(3.75rem, 6vw, 5rem);
  }
}
