---
import '@fontsource-variable/lora';
import '@fontsource/roboto';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/footer/Footer.astro';
import Header from '../components/header/Header.astro';
import "../styles/global.css";

interface Props {
	title: string;
	description?: string;
	ogImage?: string;
	articleDate?: string;
	image?: string
}

const { title, description, image, articleDate } = Astro.props

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} ogImage={image} articleDate={articleDate} />
	</head>
	<body>
		<main>
			<Header />
			<slot />
			<Footer />
		</main>
	</body>
</html>
<style is:global>
	:root {
		
	}
	html {
		font-family: 'Roboto', sans-serif;
	}

	h1,h2,h3,h4 {
		font-family: 'Lora Variable', serif;
	}

</style>
