---
import PageTitle from "@/components/page-title/PageTitle";
import "@fontsource-variable/lora";
import "@fontsource/amatic-sc";
import "@fontsource/roboto";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/footer/Footer.astro";
import Header from "../components/header/Header.astro";
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
  ogImage?: string;
  articleDate?: string;
  image?: string;
}

const { title, description, image, articleDate } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      ogImage={image}
      articleDate={articleDate}
    />
  </head>
  <body>
    <a class="sr-only" href="#maincontent">Skip to main content</a>
    <main>
      <div class="header-container">
        <PageTitle title="Polish Community Group" />
        <Header />
      </div>
      <slot />
      <Footer />
    </main>
  </body>
</html>
<style is:global>
  :root {
    --accent-clr: hsl(348.63, 99.98%, 44%);
    --primary-clr: hsl(210, 8.33%, 14.12%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --light-gray: hsl(0, 0%, 97%);
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    --secondary-font: "Lora Variable", serif;
    --primary-font: "Roboto", sans-serif;
    --swanky-font: "Amatic SC", cursive;
  }

  body {
    font-family: var(--primary-font);
    color: var(--primary-clr);
  }

  main {
    width: min(1240px, 100%);
    min-height: 100dvh;
    margin-inline: auto;
    display: grid;
    grid-template-rows: auto 2rem 1fr 10rem;
    row-gap: 1rem;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--swanky-font);
  }
</style>
